<div class="replies_comment">
  <h3><span class="anon_name"><%= reply.name %></span> - <%= reply.created_at.strftime("%F %T") %> - <%= reply.id %></h3>
    <p>
      <%= reply.comment %>
    </p>
</div>
