<div>
  <p>
    <strong>Name:</strong>
    <%= topic.name %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= topic.subject %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= topic.comment %>
  </p>
</div>

