<%= render "shared/adminmenu" %>

<h1 class="admin_title">Admin</h1>
<p>
  <%= link_to "Moderator List", "/users", class: "admin_link" %>
  <%= link_to "Boards List", "/admin/boards", class: "admin_link" %>
  <%= link_to "Reported posts", "/admin/reported", class: "admin_link" %>
</p>
