<%= render "shared/adminmenu" %>

<h1 class="title">Edit Board Page</h1>
<div class="users_menu">
  <%= link_to "Boards overview", "/admin/boards", :class => "admin_button" %>
</div>
<div class="container">
  <%= render "form", board: @board %>
</div>
