<h1 class="openchan_title">Openchan</h1>

<div class="boards_container">
  <h2 class="boards_title">Boards</h2>
  <div class="boards_list">
    <% @boards.each do |board| %>
      <a href="/boards/<%= board.short_name %>">
        <p><%= board.name %></p>
      </a>
    <% end %>
  </div>
</div>
