<%= render "boardslist", boards: @boards %>

<h1 class="board_show_title"><%= @board.name %></h1>

[<a href="/">Back</a>]

<%= render "topics/form", board: @board %>

<div class="board_catalog">
  <%= render @board.topics %>
</div>
