:root {
  --main-blue-color: #245BDB;
  --alternative-blue-color: #24B7DB;
  --main-purple-color: #6b6798;
}

.openchan_body {
  background-color: var(--main-purple-color);
}

.openchan_title {
  text-align: center;
}

.boards_container {
  border: black 1px solid;
  padding: 15px;
}

.boards_title{
  margin-top: 0;
}
