:root {
  --main-blue-color: #245BDB;
  --alternative-blue-color: #24B7DB;
  --main-purple-color: #6b6798;
}

.openchan_body {
  background-color: var(--main-purple-color);
}

.openchan_title {
  text-align: center;
}

.boards_container {
  border: black 1px solid;
  padding: 15px;
}

.boards_title {
  margin-top: 0;
}

.board_show_title {
  text-align: center;
}

.board_catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 50px;
  justify-items: center;
}

.catalog_topic {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}


.topic_form {
  display: flex;
  justify-content: center;
}

.topic_title {
  text-align: center;
}

.topic_container {
  padding: 25px;
  border: 1px black solid;
}

.replies_form {
  display: flex;
  justify-content: center;
}

.replies_title {
  text-align: center;
}

.replies_container {
  padding: 25px;
  border: 1px black solid;
}
